.pop-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .edit-form-popup {
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 650px;
    position: relative;
  }
  
  .edit-form-popup h2 {
    margin-top: 0;
  }
  
  .edit-form-popup .close-btn {
    position: absolute;
    top: 1.15rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    background:none;
    border: none;
    z-index: 1;
  }
  .edit-form-popup .patient_form{
    height: 400px;
    width: 600px;
  }

  .edit-form-popup .back-btn{
    display: none;
  }

  .patient-details-container {
    padding: 2rem;
    box-sizing: border-box;
    /* background-color: #f4f4f4; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.patient-details-card h2{
  text-align: center;
  color: var(--primary);
}
 
.patient-details-card {
    width: 94%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: var(--white);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.patient-info{
    display: grid;
    grid-template-columns: repeat(3, minmax(250px,300px));
   gap: 2rem;
   justify-content: space-between;
}
 .section{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
 }
.section-title {
    font-size: 1.1rem;
    border-bottom: 2px solid #ddd;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    
}
.details-document h3{
  font-size: 1.1rem;
  border-bottom: 2px solid #ddd;
  padding-bottom: 0.5rem;
}
.section-title h3, .details-document h3{
  font-weight: 400;
}
 
.detail-item {
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    background: #f9f9f9;
    border-radius: 0.25rem;
    word-break: break-all;
    flex-wrap: wrap;
}
.section button{
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
}
.detail-dlt{
  margin-left: 1rem;
  color: var(--danger);
}
.section button:hover{
  opacity: 0.8;
}
 
.details-document{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.document{
  display: grid;
  grid-template-columns:repeat(4,160px);
  justify-content: space-between;
}

.document img{
  width: 10rem;
  height: 5rem;
}
.details-document-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.details-document-item p{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.details-document-item button{
  background: none;
  border: none;
}
.details-document-item button[type="submit"]{
  background-color: var(--primary);
  color: var(--white);
  padding: 0.5rem 0.7rem;
  border-radius: 0.312rem;
  margin-top: 0.5rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.details-document-item button[type="submit"]:hover{
  opacity: 0.85;
}
.edit-form-popup .disease-container .input_label{
  width: 100% !important;
}