.medicine-card input {
  padding: 0.5rem;
}
.medicine-card p {
  font-size: 0.9rem;
}
.medicine-checks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.medicine-card {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
.medicine-inputs {
  display: grid;
  grid-template-columns: repeat(3,9.9rem);
  gap: 0.9rem;
}
.medicine-inputs input:first-child {
  grid-column: 1/4;
}
.medicine-inputs input {
  outline: none;
  appearance: none;
  border: 1px solid var(--darkGrey);
  border-radius: 0.312rem;
  transition: 0.3s ease-in-out;
}
.medicine-inputs input:focus {
  border: 1px solid var(--primary);
}
.Mui-checked {
  color: var(--primary) !important;
}
.medicine-add {
  background: none;
  border: none;
  /* color: var(-); */
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 0.312rem;
}
.medicine-add:hover {
  background-color: var(--lightGrey);
}
.medicine-i {
  font-size: 1.2rem;
  padding: 0.1rem;
  color: var(--dark);
  background-color: var(--darkGrey);
  border-radius: 50%;
}

.remove-btn {
  align-self: flex-start;
  background-color: var(--danger);
  color: var(--white);
  border: none;
  border-radius: 0.312rem;
  padding: 0.35rem 0.5rem;
  cursor: pointer;
}
.css-1uent87-MuiButtonBase-root-MuiButton-root {
  color: var(--primary) !important;
}
.css-1uent87-MuiButtonBase-root-MuiButton-root:hover {
  background-color: var(--lightPurple);
}
.course-duration-input {
  font-size: 0.9rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
#courseDuration {
  outline: none;
  border: 1px solid var(--darkGrey);
  border-radius: 0.312rem;
  transition: 0.3s ease-in-out;
}
#courseDuration:focus {
  border: 1px solid var(--primary);
}
.medicine-error {
  margin-right: 1rem;
}
.medicine-list .auth-error {
  /* margin-top: 0.2rem; */
  font-size: 0.8rem;
}
.css-15fu35s-MuiDialogActions-root {
  padding-right: 22px;
}
