   
  .dashboard {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    background-color: inherit;
  }
   
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    padding: 0.5rem 4rem;
    background-color: var(--dark);
  }
  .nav-link{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 0.85rem;
    color: #ffffffb4;
    transition: 0.3s ease-in;
  }
  /* .active{
    color: var(--white);
  } */
  .nav-icon{
    font-size: 1rem;
  }
  .nav-actions {
    display: flex;
    align-items: center;
    gap:4rem;
  }
  
   
  .profile-icon {
    font-size: 2rem;
    border-radius: 50%;
    padding: 0.2rem;
    color: var(--dark);
    background-color: #f3f3f3;
  }
   
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    margin: 0 3rem;
  }

  .home-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--white);
    padding: 0 2rem;
  }
  .home-container img{
    width: 98.8%;
  }

  .home-message{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    text-align: center;
  }
   
  .add-patient-btn {
    background-color: var(--primary);
    color: var(--white);
    padding:0.62rem 20px;
    border: none;
    cursor: pointer;
    border-radius: 0.312rem;
    display: flex;
    align-items: center;
    gap: 0.312rem;
  }
   
 
  .patient-grid {
    display: grid;
    grid-template-columns: repeat(3, 368px);
    gap: 20px;
    margin: 0 4rem 2rem 4rem;
  }
  .patient-card {
    background: var(--white);
    padding: 1rem;
    border-radius: 0.625rem;
    box-shadow: 0.125rem 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
    border: 0.0625rem solid #ddd;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
   
  .patient-card:hover {
    transform: translateY(-0.1875rem);
    box-shadow: 0.1875rem 0.1875rem 0.9375rem rgba(0, 0, 0, 0.15);
  }
  .patient-details{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    height: 4rem;
  }
  
  .profile-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.0625rem solid #eee;
    padding-bottom: 0.625rem;
  }
   
  .profile-section h4 {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.3125rem;
  }
   
  .card-icon{
    color: var(--darkPurple);
  }
  .country {
    font-size: 0.75rem;
    color: gray;
  }
  .patient-details  .card-title {
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    gap: 0.3125rem;
    color: var(--secondary);
  }

   
  .card-detail {
    font-weight: bold;
  }
   
  .health-indicators {
    display: flex;
    gap: 0.5rem 1rem ;
    flex-wrap: wrap;
    border-bottom: 0.0625rem solid #eee;
    padding-bottom: 0.625rem;
  }
  .arrow-icon{
    font-size: 1.2rem;
  }
   
  .alert {
    display: flex;
    align-items: center;
    gap: 0.3125rem;
    font-size: 0.875rem;
    font-weight: bold;
    padding: 0.3125rem;
    border-radius: 0.3125rem;
    margin-top: 0.3125rem;
  }
   
  .diabetic {
    background: #ffcccc;
    color: #d32f2f;
  }
   
  .cardiac {
    background: #ffe0b2;
    color: #e65100;
  }
   
  .bp {
    background: #c8e6c9;
    color: #388e3c;
  }

  .no-patients {
    align-self: center;
    width: 100%;
    height: 76.2vh;
  }
   
  .no-patients img {
    width: 100%;
    height: 100%;
  }
  
  .dropdown {
    z-index: 1;
    position: absolute;
    top: 4rem;
    right: 4rem;
    background-color: var(--white);
    border: 1px solid #ddd;
    padding: 0.62rem;
    border-radius: 0.312rem;
    box-shadow: 0 2px 0.312rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  .dropdown button{
    background-color: var(--white);
    border: none;
    padding:0.62rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
  }
  
  .dropdown button:hover{
    background-color: #f3f3f3;
  }